/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/app.sass ***!
  \************************************************************************************************************/
html {
  font-size: 0.6544502617801047vw;
  scroll-behavior: smooth; }

body {
  background: #E1D4C9;
  color: #403F3D;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  line-height: 150%;
  margin: 1rem 0 0; }

p, h1, h2, h3, ul {
  margin: 0; }

.container {
  max-width: 144rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 4rem; }

main > *:not(:last-child) {
  padding-bottom: 5rem; }

main > *:not(:first-child) {
  padding-top: 5rem; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: transparent;
  padding: 0;
  color: inherit; }

.button {
  font-weight: 600;
  line-height: 150%;
  border-radius: 10rem;
  width: 20rem;
  height: 6.4rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #403F3D; }
  .button-primary {
    background: #E1D4C9;
    font-size: 1.6rem;
    line-height: 150%; }
  .button-menu {
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    border: 0.1rem solid #C1B6AD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease;
    cursor: pointer; }
    .button-menu.active {
      background: #665F55;
      color: #E1D4C9; }
    .button-menu.active {
      cursor: default; }
  .button-left, .button-right {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    border: 0.1rem solid #665F55;
    box-sizing: content-box;
    margin: 0.2rem;
    color: #403F3D;
    transition: all 0.3s ease; }
    .button-left::before, .button-right::before {
      width: 1.25rem;
      height: 1.2rem;
      content: '';
      background-color: #403F3D;
      mask-size: cover;
      display: inline-block;
      transition: all 0.25s ease; }
  .button-left::before {
    mask: url(images/left.svg) no-repeat 50% 50%;
    -webkit-mask: url(images/left.svg) no-repeat 50% 50%; }
  .button-right::before {
    mask: url(images/right.svg);
    -webkit-mask: url(images/right.svg); }
  .button-app {
    border: 0.1rem solid #665F55;
    width: 20rem;
    color: #665F55;
    border-radius: 10rem;
    transition: all 0.3s ease-in;
    padding: 1.2rem 2rem;
    display: inline-block;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    box-sizing: border-box; }
    .button-app p {
      display: flex;
      flex-direction: column;
      text-align: left; }
    .button-app svg {
      height: 3.6rem;
      width: 3.6rem; }

.coffee-static {
  display: flex;
  gap: 0.8rem;
  cursor: pointer; }
  .coffee-static::after {
    content: url(images/coffee-cup.svg);
    height: 2rem;
    width: 2rem; }

.menu-active {
  cursor: default; }

.hover-coffee {
  display: flex;
  gap: 0.8rem; }
  .hover-coffee::after {
    content: url(images/coffee-cup.svg);
    width: 2rem;
    height: 2rem;
    margin-right: 0;
    margin-top: 0.3rem;
    transform: scale(0);
    transition: all 0.3s ease; }

h1 {
  font-size: 7.2rem;
  line-height: 105%; }

h2 {
  font-size: 6rem; }

h2 {
  line-height: 125%; }

ul {
  padding: 0; }

li {
  list-style: none; }

.zoom-out__wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.zoom-out img {
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
  min-width: 110%;
  min-height: 110%; }

.load-more {
  display: none;
  width: 100%;
  justify-content: center; }

@media (min-width: 1440px) {
  html {
    font-size: 10px; } }

@media (max-width: 768px) {
  html {
    font-size: 1.302vw; }
  .load-more {
    display: flex; }
    .load-more input {
      width: 6rem;
      height: 6rem;
      opacity: 0;
      position: absolute;
      z-index: 2;
      margin: 0; }
    .load-more:before {
      content: url(images/button-icon-dark.svg);
      width: 6rem;
      height: 6rem; }
  .hover-coffee span {
    margin-top: 0.5rem; }
  .hover-coffee::after {
    transform: scale(1);
    margin-right: 2.8rem; }
  .coffee-static::after {
    width: 4rem;
    height: 4rem; } }

@media (max-width: 380px) {
  html {
    font-size: 2.632vw; }
  .container {
    padding: 1rem 1.6rem; }
  h1 {
    font-size: 4.2rem;
    line-height: 115%; }
  h2 {
    font-size: 3.2rem;
    line-height: 125%; } }

@media (hover: hover) {
  .zoom-out:hover img {
    width: 105%;
    transform: scale(0.95); }
  .hover-coffee:hover::after {
    transform: scale(1);
    margin-right: 2.8rem; }
  .button-app:hover {
    background: #665F55;
    color: #E1D4C9; }
  .button-left:hover, .button-right:hover {
    background: #403F3D; }
    .button-left:hover::before, .button-right:hover::before {
      background-color: #E1D4C9; }
  .button-menu:hover {
    background: #665F55;
    color: #E1D4C9; } }

footer {
  margin-top: 8rem; }

.footer {
  color: #E1D4C9; }
  .footer-wrap {
    background: #665F55;
    border-radius: 4rem;
    display: flex;
    gap: 10rem;
    padding: 10rem;
    align-items: center; }
    .footer-wrap > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 4rem; }
  .footer .header-menu__item {
    cursor: pointer;
    width: fit-content; }
    .footer .header-menu__item::before {
      margin-top: 0.8rem;
      margin-bottom: 0;
      background: #E1D4C9; }

.socials {
  display: flex;
  gap: 1.04rem;
  color: transparent; }
  .socials-link {
    width: 5.99rem;
    height: 5.99rem;
    border: 0.01rem solid #E1D4C9;
    border-radius: 100%;
    transition: all 0.3s ease-in; }
  .socials-item, .socials-item .path2, .socials-item .path3 {
    width: inherit;
    height: inherit;
    stroke: #E1D4C9; }

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .contacts a, .contacts span {
    display: inline-flex;
    gap: 0.8rem; }
    .contacts a:before, .contacts span:before {
      display: inline-block;
      width: 2rem;
      height: 2rem; }
  .contacts .contacts-phone a::before {
    content: url(images/phone.svg); }
  .contacts .contacts-address a::before {
    content: url(images/pin.svg); }
  .contacts .contacts-hours span::before {
    content: url(images/clock.svg); }

@media (max-width: 768px) {
  .footer-wrap {
    flex-direction: column;
    align-items: flex-start;
    padding: 10rem 6rem; } }

@media (hover: hover) {
  .socials-link:hover {
    background: #E1D4C9; }
  .socials-item:hover, .socials-item .path2:hover, .socials-item .path3:hover {
    stroke: #403F3D; } }

@media (max-width: 380px) {
  .footer {
    margin-top: 8.2rem; }
    .footer-wrap {
      padding: 6rem 1.6rem;
      gap: 4rem; } }

.logo {
  height: 6rem;
  width: 10rem;
  z-index: 2; }
  .logo img {
    height: 100%;
    object-fit: cover; }

.header {
  display: flex; }
  .header nav {
    width: 100%; }
  .header-menu {
    display: flex;
    column-gap: 4rem;
    margin-left: auto; }
    .header-menu li {
      margin-top: -0.2rem; }
      .header-menu li a {
        display: inline; }
    .header-menu__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
    .header-menu__item {
      position: relative;
      overflow: hidden; }
      .header-menu__item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        margin-bottom: -0.8rem;
        background-color: #403F3D;
        transform: scale(0);
        transform-origin: center;
        transition: transform 0.3s ease-out; }
      .header-menu__item.coffee-static {
        margin-left: auto;
        height: 2.9rem; }
        .header-menu__item.coffee-static::before {
          margin-bottom: 0; }

.is-burger, .is-burger ~ .burger-icon {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  width: 4.3rem;
  height: 4.3rem;
  top: 2.9rem;
  right: 4rem; }

.is-burger {
  z-index: 3;
  opacity: 0; }
  .is-burger ~ .burger-icon {
    z-index: 2; }

@media (hover: hover) {
  .header-menu__item:not(.menu-hidden):hover::before, .header-menu__item.menu-active::before {
    transform: scale(1); } }

@media (min-width: 769px) {
  .is-burger, .is-burger ~ .burger-icon {
    display: none; } }

@media (max-width: 768px) {
  .header .action {
    font-size: 3.2rem; }
  .header-menu {
    gap: 5.4rem;
    align-items: center; }
    .header-menu__wrapper {
      position: fixed;
      right: -300%;
      transition: right 0.4s ease-in-out;
      width: 100%;
      height: 100%;
      padding-top: 6rem;
      top: 9.85rem;
      gap: 10rem;
      background: #E1D4C9;
      justify-content: start;
      z-index: 1; }
  .header-menu, .header-menu__wrapper {
    flex-direction: column; }
  .header-menu, .header-menu__wrapper, .header .coffee-static {
    margin: 0; }
  .header .coffee-static {
    height: 3.8rem;
    margin-top: -0.8rem; }
  body:has(.is-burger:checked) {
    overflow-y: hidden; }
  .burger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0.1rem solid #665F55;
    flex-direction: column;
    gap: 0.6rem;
    transition: all 0.4s ease-in-out;
    transform-origin: 4.3rem 0; }
    .burger-icon span {
      transition: transform 0.4s ease-in-out;
      display: block;
      width: 1.6rem;
      border-radius: 0.1rem;
      border: 0.15rem solid #403F3D;
      background: #403F3D; }
      .burger-icon span:first-child {
        transform-origin: 0.4rem 0.2rem; }
      .burger-icon span:last-child {
        transform-origin: 0.3rem -0.04rem; }
  .is-burger:checked ~ .header-menu__wrapper {
    right: 0; }
  .is-burger:checked ~ svg .first {
    transform: rotate(90); }
  .is-burger:checked ~ .burger-icon span:first-child {
    transform: rotate(45deg); }
  .is-burger:checked ~ .burger-icon span:last-child {
    transform: rotate(-45deg); } }

@media (max-width: 380px) {
  .is-burger, .is-burger ~ .burger-icon {
    right: 1.65rem; } }

.accent {
  color: #B0907A;
  display: inline-block;
  transform: skewX(-9deg);
  margin-right: 1.7rem; }

.bold {
  font-size: 2.4rem;
  line-height: 125%;
  font-weight: 600; }

.small {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600; }

.action {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%; }

@media (max-width: 768px) {
  .accent {
    margin-right: 0;
    display: inline;
    font-style: italic; } }

.hero {
  color: #E1D4C9; }
  .hero-offer {
    padding: 10rem 73rem 10rem 10rem;
    background-image: url(images/img-hero.png);
    background-position-y: center;
    background-size: cover;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem; }
    .hero-offer .button span {
      margin-left: 2.8rem; }

@media (max-width: 768px) {
  .hero-offer {
    padding: 10rem 6rem 10rem 6rem;
    background-position-x: center; } }

@media (max-width: 380px) {
  .hero-offer {
    padding: 6rem 1.6rem; } }

.slider, .slider-wrapper, .slides, .choose, .slide, .controls, .about {
  display: flex; }

.choose {
  text-align: center;
  gap: 4rem;
  margin-bottom: -1.35rem; }

.slider, .choose, .slide, .about {
  flex-direction: column;
  align-items: center; }

.slider {
  gap: 2.2rem;
  width: 100%; }
  .slider-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center; }

.slides {
  width: 48rem;
  overflow: auto;
  touch-action: pan-y;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-padding: 0 0;
  cursor: grab; }
  .slides::-webkit-scrollbar {
    width: 0;
    background: transparent; }
  .slides.active {
    scroll-snap-type: unset; }

.slide {
  gap: 1.6rem;
  user-select: none;
  scroll-snap-align: start; }
  .slide-image {
    height: 48rem;
    object-fit: cover;
    margin-bottom: 0.4rem; }

.controls-btn {
  cursor: pointer;
  padding: 0.6rem;
  transition: all 0.15s ease; }
  .controls-btn.active::before {
    background: #665F55; }
  .controls-btn::before {
    content: "";
    display: inline-block;
    border-radius: 10rem;
    width: 4rem;
    height: 0.4rem;
    background: #C1B6AD;
    transition: all 0.3s ease; }

@media (hover: hover) {
  .controls-btn:hover::before {
    background: #665F55; } }

@media (max-width: 768px) {
  .choose .accent {
    margin-right: 0; } }

@media (max-width: 380px) {
  .slide-image {
    height: 34.8rem; }
  .slider .button {
    display: none; } }

.about {
  gap: 4rem; }
  .about-masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; }
    .about-masonry__col {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: 66rem;
      border-radius: 2rem; }
      .about-masonry__col:nth-child(even) .about-masonry__item:first-child {
        height: 43rem; }
      .about-masonry__col:nth-child(odd) .about-masonry__item:last-child {
        height: 43rem; }
    .about-masonry__item {
      width: inherit;
      max-height: 59rem;
      flex: 1 auto;
      border-radius: 2rem; }

@media (max-width: 768px) {
  .about span:first-child {
    display: inline-block;
    margin-right: 1rem; }
  .about-masonry__col, .about-masonry img {
    width: 101%;
    overflow: hidden; }
  .about-masonry__item {
    height: 59rem; }
    .about-masonry__item img {
      object-position: 0rem -5rem; }
  .about-masonry__col:nth-child(even) .about-masonry__item:first-child {
    display: none; }
  .about-masonry__col:nth-child(odd) .about-masonry__item:last-child {
    display: none; } }

@media (max-width: 380px) {
  .about-masonry__item {
    height: 59rem;
    width: 34.8rem; }
    .about-masonry__item img {
      height: 59rem;
      width: 34.8rem;
      object-fit: cover;
      object-position: -13rem -2rem; } }

.app-wrap {
  display: flex;
  align-items: center;
  gap: 10rem; }
  .app-wrap > * {
    flex: 1; }
  .app-wrap::after {
    content: '';
    background-image: url(images/mobile-screens.png);
    background-size: contain;
    width: 63rem;
    height: 63rem; }

.app-info {
  display: flex;
  flex-direction: column;
  gap: 4rem; }

.app-links {
  display: flex;
  gap: 2rem; }

@media (max-width: 768px) {
  .app-wrap {
    flex-direction: column; }
    .app-wrap::after {
      background-size: cover; } }

@media (max-width: 380px) {
  .app-wrap {
    gap: 4rem; }
    .app-wrap::after {
      width: 100%;
      height: 34.8rem; }
  .app-links {
    flex-direction: column; } }

.menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: -4rem;
  margin-bottom: -0.2rem; }
  .menu-title {
    display: none; }
  .menu .outdent {
    margin-left: 1.9rem; }
  .menu-tabs {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3.8rem; }
    .menu-tabs__wrap {
      display: flex;
      width: max-content;
      gap: 4rem; }
    .menu-tabs__controls {
      display: flex;
      justify-content: center;
      gap: 1.6rem; }
      .menu-tabs__controls .button {
        width: fit-content;
        height: fit-content; }
        .menu-tabs__controls .button span {
          display: inline-flex;
          gap: 0.8rem;
          align-items: center; }
          .menu-tabs__controls .button span::before {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            background: #C1B6AD;
            border-radius: 100%;
            height: 3rem;
            width: 3rem; }
      .menu-tabs__controls .Coffee::before {
        content: url(images/cup.png); }
      .menu-tabs__controls .Tea::before {
        content: url(images/teapot.png); }
      .menu-tabs__controls .Dessert::before {
        content: url(images/cake.png); }
  .menu-card {
    border-radius: 4rem;
    overflow: hidden;
    border: 0.1rem solid #C1B6AD;
    cursor: pointer;
    box-sizing: border-box;
    width: 31rem; }
  .menu .tab {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    row-gap: 3.91rem; }

.card-image {
  border-radius: inherit;
  height: 31rem;
  overflow: hidden; }

.card-info {
  text-align: left;
  padding: 2.1rem 1.9rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  box-sizing: border-box;
  height: 19.55rem; }
  .card-info .price {
    margin-top: auto; }

@media (max-width: 768px) {
  .menu br {
    display: none; }
  .menu-tabs {
    max-height: 115rem;
    transition: max-height 0.5s ease; }
    .menu-tabs__wrap {
      margin-left: 1.5rem; }
  .menu .tab {
    grid-template-columns: repeat(2, 1fr); }
  .menu .zoom-out img {
    width: 100%;
    height: 100%; }
  .menu .outdent {
    margin-left: 0; }
  .menu .accent {
    display: inline; }
  .menu h2 br {
    display: none; }
  .menu .load-more {
    margin: 0;
    margin-top: -1rem;
    order: 3;
    appearance: none; }
    .menu .load-more:checked {
      visibility: hidden; }
      .menu .load-more:checked + .menu-tabs {
        max-height: 230rem; }
    .menu .load-more input {
      opacity: 3; }
  .menu-tabs__controls .button:hover span::before {
    background: #E1D4C9; } }

@media (max-width: 380px) {
  .menu .tab {
    grid-template-columns: repeat(1, 1fr); }
  .menu-tabs {
    max-height: 225rem; }
    .menu-tabs__wrap {
      margin-left: 1.9rem; }
    .menu-tabs__controls {
      gap: 0.8rem; }
  .menu .load-more {
    margin-top: -2.1rem; }
    .menu .load-more:checked + .menu-tabs {
      max-height: 450rem; } }

@media (hover: hover) {
  .menu-card.zoom-out img:hover {
    width: 106.5%; } }

