/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/app.sass ***!
  \************************************************************************************************************/
@charset "UTF-8";
html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background: #E1D4C9;
  color: #403F3D;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  margin: 1rem 0 0; }

p, h1, h2, h3, ul {
  margin: 0; }

.container {
  max-width: 144rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 4rem; }

main > *:not(:last-child) {
  padding-bottom: 5rem; }

main > *:not(:first-child) {
  padding-top: 5rem; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: transparent;
  padding: 0;
  color: inherit; }

.button {
  font-weight: 600;
  line-height: 150%;
  border-radius: 10rem;
  width: 20rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #403F3D; }
  .button-primary {
    background: #E1D4C9;
    font-size: 1.6rem;
    line-height: 150%; }
  .button-left, .button-right {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    border: 0.1rem solid #665F55;
    box-sizing: content-box;
    margin: 0.2rem;
    color: #403F3D;
    transition: all 0.15s ease; }
    .button-left:hover, .button-right:hover {
      background: #403F3D;
      color: #E1D4C9; }
  .button-left::before {
    content: "←"; }
  .button-right::before {
    content: "→"; }
  .button-app {
    border: 0.1rem solid #665F55;
    color: #665F55;
    border-radius: 10rem;
    display: flex; }
    .button-app a {
      display: flex;
      flex-direction: column; }
    .button-app svg, .button-app #app-store {
      fill: #665F55;
      color: #665F55;
      height: 3.6rem;
      width: 3.6rem; }
    .button-app.app-store:before {
      color: #665F55;
      content: url(images/app.svg#google-play); }

.hover-coffee {
  display: flex;
  gap: 0.8rem; }
  .hover-coffee::after {
    content: url(images/coffee-cup.svg);
    transform: scale(0);
    transition: transform 0.1s ease; }
  .hover-coffee:hover::after {
    transform: scale(1); }

h1 {
  font-size: 7.2rem;
  line-height: 105%; }

h2 {
  font-size: 6rem; }

h2 {
  line-height: 125%; }

ul {
  padding: 0; }

li {
  list-style: none; }

.footer {
  color: #E1D4C9; }
  .footer-wrap {
    background: #665F55;
    border-radius: 4rem;
    display: flex;
    gap: 10rem;
    padding: 10rem;
    align-items: center; }
    .footer-wrap > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 4rem; }

.socials {
  display: flex;
  gap: 1.04rem;
  color: transparent; }
  .socials-link {
    width: 5.99rem;
    height: 5.99rem;
    border: 0.01rem solid #E1D4C9;
    border-radius: 100%;
    transition: all 0.1s ease-in; }
    .socials-link:hover {
      background: #E1D4C9;
      color: #E1D4C9; }
  .socials-item, .socials-item.path2, .socials-item.path3 {
    width: inherit;
    height: inherit;
    stroke: #E1D4C9; }
    .socials-item:hover, .socials-item.path2:hover, .socials-item.path3:hover {
      stroke: #403F3D; }

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }

.logo {
  height: 6rem; }
  .logo img {
    height: inherit;
    width: 100%;
    object-fit: cover; }

.header {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-menu {
    display: flex;
    column-gap: 1.2rem;
    margin-left: 2.8rem; }
    .header-menu__item {
      position: relative;
      overflow: hidden; }
      .header-menu__item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: #403F3D;
        transform: scale(0);
        transform-origin: center;
        transition: transform 150ms ease-out; }
      .header-menu__item:hover::before {
        transform: scale(1); }

.accent {
  color: #B0907A;
  display: inline-block;
  transform: skewX(-9deg);
  margin-right: 1.7rem; }

.bold {
  font-size: 2.4rem;
  line-height: 125%;
  font-weight: 600; }

.small {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600; }

.hero {
  color: #E1D4C9; }
  .hero-offer {
    padding: 10rem 73rem 10rem 10rem;
    background-image: url(images/img-hero.png);
    background-position-y: center;
    background-size: cover;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem; }
    .hero-offer .button a {
      margin-left: 2.8rem; }

.slider, .slider-wrapper, .slides, .choose, .slide, .controls, .about {
  display: flex; }

.choose {
  text-align: center;
  gap: 4rem;
  margin-bottom: -1.4rem; }

.slider, .choose, .slide, .about {
  flex-direction: column;
  align-items: center; }

.slider {
  gap: 2.2rem;
  width: 100%; }
  .slider-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center; }

.slides {
  width: 48rem;
  overflow: hidden; }

.slide {
  gap: 1.6rem; }
  .slide-image {
    height: 48rem;
    object-fit: cover;
    margin-bottom: 0.4rem; }

.controls-btn {
  cursor: pointer;
  padding: 0.6rem;
  transition: all 0.15s ease; }
  .controls-btn.active::before {
    background: #665F55; }
  .controls-btn:hover::before {
    background: #665F55; }
  .controls-btn::before {
    content: "";
    display: inline-block;
    border-radius: 10rem;
    width: 4rem;
    height: 0.4rem;
    background: #C1B6AD;
    transition: all 0.1s ease; }

.about {
  gap: 4rem; }
  .about-masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; }
    .about-masonry__col {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: 66rem;
      border-radius: 2rem; }
      .about-masonry__col:nth-child(even) .about-masonry__item:first-child {
        height: 43rem; }
      .about-masonry__col:nth-child(odd) .about-masonry__item:last-child {
        height: 43rem; }
    .about-masonry__item {
      width: inherit;
      max-height: 59rem;
      flex: 1 auto;
      border-radius: 2rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .about-masonry__item img {
        object-fit: cover;
        object-position: center; }

.app-wrap {
  display: flex;
  align-items: center;
  gap: 10rem; }
  .app-wrap > * {
    flex: 1; }
  .app-wrap::after {
    content: '';
    background-image: url(images/mobile-screens.png);
    width: 63rem;
    height: 63rem; }
  .app-wrap-info {
    display: flex;
    flex-direction: column;
    gap: 4rem; }

