/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/app.sass ***!
  \************************************************************************************************************/
@charset "UTF-8";
html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background: #E1D4C9;
  color: #403F3D;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  margin: 1rem 0 0; }

p, h1, h2, h3, ul {
  margin: 0; }

.container {
  max-width: 144rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 4rem; }

main > *:not(:last-child) {
  padding-bottom: 5rem; }

main > *:not(:first-child) {
  padding-top: 5rem; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: transparent;
  padding: 0;
  color: inherit; }

.button {
  font-weight: 600;
  line-height: 150%;
  border-radius: 10rem;
  width: 20rem;
  height: 6.4rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #403F3D; }
  .button-primary {
    background: #E1D4C9;
    font-size: 1.6rem;
    line-height: 150%; }
  .button-menu {
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    border: 0.1rem solid #C1B6AD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.15s ease;
    cursor: pointer; }
    .button-menu:hover, .button-menu.active {
      background: #665F55;
      color: #C1B6AD; }
    .button-menu.active {
      cursor: default; }
  .button-left, .button-right {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    border: 0.1rem solid #665F55;
    box-sizing: content-box;
    margin: 0.2rem;
    color: #403F3D;
    transition: all 0.15s ease; }
    .button-left:hover, .button-right:hover {
      background: #403F3D;
      color: #E1D4C9; }
  .button-left::before {
    content: "←"; }
  .button-right::before {
    content: "→"; }
  .button-app {
    border: 0.1rem solid #665F55;
    width: 20rem;
    color: #665F55;
    border-radius: 10rem;
    transition: all 0.1s ease-in;
    padding: 1.2rem 2rem;
    display: inline-block;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    box-sizing: border-box; }
    .button-app:hover {
      background: #665F55;
      color: #E1D4C9; }
    .button-app p {
      display: flex;
      flex-direction: column;
      text-align: left; }
    .button-app svg {
      height: 3.6rem;
      width: 3.6rem; }

.coffee-static {
  display: flex;
  gap: 0.8rem; }
  .coffee-static::after {
    content: url(images/coffee-cup.svg); }

.hover-coffee {
  display: flex;
  gap: 0.8rem; }
  .hover-coffee::after {
    content: url(images/coffee-cup.svg);
    transform: scale(0);
    transition: transform 0.1s ease; }
  .hover-coffee:hover::after {
    transform: scale(1); }

h1 {
  font-size: 7.2rem;
  line-height: 105%; }

h2 {
  font-size: 6rem; }

h2 {
  line-height: 125%; }

ul {
  padding: 0; }

li {
  list-style: none; }

.zoom-out {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .zoom-out img {
    object-fit: cover;
    object-position: center;
    transition: all 0.1s ease-in;
    cursor: pointer; }
    .zoom-out img:hover {
      width: 105%;
      transform: scale(0.95); }

footer {
  margin-top: 8rem; }

.footer {
  color: #E1D4C9; }
  .footer-wrap {
    background: #665F55;
    border-radius: 4rem;
    display: flex;
    gap: 10rem;
    padding: 10rem;
    align-items: center; }
    .footer-wrap > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 4rem; }
  .footer .header-menu__item {
    cursor: pointer;
    width: fit-content; }
    .footer .header-menu__item::before {
      margin-top: 0.8rem;
      background: #E1D4C9; }

.socials {
  display: flex;
  gap: 1.04rem;
  color: transparent; }
  .socials-link {
    width: 5.99rem;
    height: 5.99rem;
    border: 0.01rem solid #E1D4C9;
    border-radius: 100%;
    transition: all 0.1s ease-in; }
    .socials-link:hover {
      background: #E1D4C9; }
  .socials-item, .socials-item .path2, .socials-item .path3 {
    width: inherit;
    height: inherit;
    stroke: #E1D4C9; }
    .socials-item:hover, .socials-item .path2:hover, .socials-item .path3:hover {
      stroke: #403F3D; }

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }
  .contacts a, .contacts span {
    display: inline-flex;
    gap: 0.8rem; }
    .contacts a:before, .contacts span:before {
      display: inline-block; }
  .contacts .contacts-phone a::before {
    content: url(images/phone.svg); }
  .contacts .contacts-address a::before {
    content: url(images/pin.svg); }
  .contacts .contacts-hours span::before {
    content: url(images/clock.svg); }

.logo {
  height: 6rem; }
  .logo img {
    height: inherit;
    width: 100%;
    object-fit: cover; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-menu {
    display: flex;
    column-gap: 1.2rem;
    margin-left: 2.8rem; }
    .header-menu__item {
      position: relative;
      overflow: hidden; }
      .header-menu__item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: #403F3D;
        transform: scale(0);
        transform-origin: center;
        transition: transform 150ms ease-out; }
      .header-menu__item:not(.menu-hidden):hover::before, .header-menu__item.menu-active::before {
        transform: scale(1); }

.accent {
  color: #B0907A;
  display: inline-block;
  transform: skewX(-9deg);
  margin-right: 1.7rem; }

.bold {
  font-size: 2.4rem;
  line-height: 125%;
  font-weight: 600; }

.small {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600; }

.action {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%; }

.hero {
  color: #E1D4C9; }
  .hero-offer {
    padding: 10rem 73rem 10rem 10rem;
    background-image: url(images/img-hero.png);
    background-position-y: center;
    background-size: cover;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem; }
    .hero-offer .button span {
      margin-left: 2.8rem; }

.slider, .slider-wrapper, .slides, .choose, .slide, .controls, .about {
  display: flex; }

.choose {
  text-align: center;
  gap: 4rem;
  margin-bottom: -1.4rem; }

.slider, .choose, .slide, .about {
  flex-direction: column;
  align-items: center; }

.slider {
  gap: 2.2rem;
  width: 100%; }
  .slider-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center; }

.slides {
  width: 48rem;
  overflow: hidden; }

.slide {
  gap: 1.6rem; }
  .slide-image {
    height: 48rem;
    object-fit: cover;
    margin-bottom: 0.4rem; }

.controls-btn {
  cursor: pointer;
  padding: 0.6rem;
  transition: all 0.15s ease; }
  .controls-btn.active::before {
    background: #665F55; }
  .controls-btn:hover::before {
    background: #665F55; }
  .controls-btn::before {
    content: "";
    display: inline-block;
    border-radius: 10rem;
    width: 4rem;
    height: 0.4rem;
    background: #C1B6AD;
    transition: all 0.1s ease; }

.about {
  gap: 4rem; }
  .about-masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; }
    .about-masonry__col {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: 66rem;
      border-radius: 2rem; }
      .about-masonry__col:nth-child(even) .about-masonry__item:first-child {
        height: 43rem; }
      .about-masonry__col:nth-child(odd) .about-masonry__item:last-child {
        height: 43rem; }
    .about-masonry__item {
      width: inherit;
      max-height: 59rem;
      flex: 1 auto;
      border-radius: 2rem; }

.app-wrap {
  display: flex;
  align-items: center;
  gap: 10rem; }
  .app-wrap > * {
    flex: 1; }
  .app-wrap::after {
    content: '';
    background-image: url(images/mobile-screens.png);
    width: 63rem;
    height: 63rem; }

.app-info {
  display: flex;
  flex-direction: column;
  gap: 4rem; }

.app-links {
  display: flex;
  gap: 2rem; }

.menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  .menu .outdent {
    margin-left: 1.9rem; }
  .menu-tabs {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3.8rem; }
    .menu-tabs__wrap {
      display: flex;
      width: max-content; }
    .menu-tabs__controls {
      display: flex;
      justify-content: center;
      gap: 1.6rem; }
      .menu-tabs__controls .button {
        width: fit-content;
        height: fit-content; }
        .menu-tabs__controls .button span {
          display: inline-flex;
          gap: 0.8rem;
          align-items: center; }
          .menu-tabs__controls .button span::before {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            background: #C1B6AD;
            border-radius: 100%;
            height: 3rem;
            width: 3rem; }
      .menu-tabs__controls .Coffee::before {
        content: url(images/cup.png); }
      .menu-tabs__controls .Tea::before {
        content: url(images/teapot.png); }
      .menu-tabs__controls .Dessert::before {
        content: url(images/cake.png); }
  .menu-card {
    height: 50.5rem;
    width: 30.8rem;
    border-radius: 4rem;
    overflow: hidden;
    border: 0.1rem solid #C1B6AD;
    cursor: pointer; }
  .menu .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 136rem; }

.card-image {
  border-radius: inherit;
  height: 30.8rem; }

.card-info {
  text-align: left;
  padding: 2.2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 15.7rem; }
  .card-info .price {
    margin-top: auto; }

