section.hero.container
    video(autoplay, muted, loop)
        source(src="./enjoy.mp4", type="video/mp4")
    .hero-offer
        h1 
            span.accent Enjoy 
            span premium coffee at our charming cafe
        p With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a popular destination for coffee lovers and those seeking a warm and inviting space to enjoy their favorite beverage.
        a(href='./menu.html').button.button-primary.hover-coffee 
            //button(type="button")
            span Menu
            