section.app.container#app
    .app-wrap 
        .app-info
            h2 
                span.accent Download 
                span our apps to start ordering
            p Download the Resource app today and experience the comfort of ordering your favorite coffee from wherever you are
            .app-links
                a(href='https://play.google.com').button-app.app-store 
                    svg
                        use(xlink:href='./images/app.svg#app-store')
                    p
                        span.small Available on the
                        span.action App Store
                a(href='https://play.google.com').button-app.app-store 
                    svg 
                        use(xlink:href='./images/app.svg#google-play')
                    p
                        span.small Available on the
                        span.action Google Play
        