include  ../common/_header.pug
doctype html
html(lang='EN')
    include  ../common/_head.pug
    body 
        +header()
        main 
            include ./_hero.pug
            include ./_choose.pug
            include ./_about.pug
            include ./_mobile.pug
        include  ../common/_footer.pug          
    
